@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
}

.carousel .slide img {
  width: 100%;
  height: 400px; /* Define una altura fija */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin deformarse */
  border-radius: 8px;
}

/* Sobrescribir estilos de las flechas del carrusel para quitar la sombra y centrar */
.carousel .control-arrow,
.carousel .control-next,
.carousel .control-prev {
  background: none !important;
  box-shadow: none !important;
  color: #fff !important; /* Color blanco para las flechas */
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(600%);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .control-prev {
  left: 10px; /* Ajusta la posición izquierda */
}

.carousel .control-next {
  right: 10px; /* Ajusta la posición derecha */
}

.carousel .control-arrow:hover {
  background: none !important;
}

.carousel .control-arrow:before {
  font-size: 24px;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.mt-4 {
  margin-top: 1rem;
}

.bg-white {
  background-color: white;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
